.user {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
  
  &__avatar_big {
    width: 200px;
  }
}

.usersWrapper {
  padding: 20px;
}

.page {
  cursor: pointer;
}

.active {
  font-weight: 700;
}