@import '../../../vars';

.myPosts {
  padding: 20px;
  border-radius: 15px;
}

.newPostBox {
  margin-bottom: 30px;
}

.addPostBtn {
  @extend %button-style;
  padding: 5px;
}

.postsTextarea {
  display: block;
  margin-bottom: 20px;
  min-width: 300px;
  padding: 10px;
}
