.logo {
  width: 30px;
}

.header {
  grid-area: h;
  background-color: rgb(78, 233, 181);
  border-radius: 0px 0px 15px 15px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginLink, .loginName {
  font-weight: 500;
}
