.navbar {
  border-radius: 15px;
  grid-area: n;
  background-color: rgb(154, 101, 223);
  padding: 20px;

  // &__link {
  //   font-weight: 500;
  // }

  &__listItem {
    margin-bottom: 3px;   
  }
}
