@import '../../vars';

input {
  display: block;
}

.loginPage {
  padding: 20px;

  &__form {
    width: 300px;
  }

  &__formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__formControl_checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__formLabel {
    margin-bottom: 5px;
    margin-right: 35px;
  }

  &__formInput {
    width: 100%;
    padding: 7px 10px;
    font-size: 15px;
  }

  &__fromErrorMsg {
    color: red;
    font-size: 14px;
    margin-top: 3px;
  }

  &__formBtn {
    @extend %button-style; 
    padding: 7px 25px;
    border-radius: 15px;
  }
}

.loginTitle {
  margin-bottom: 20px;
}
